#main > table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;

  tbody > tr {
    td {
      height: 7px;
      width: 7px;
      background-color: gray;
      border: 1px solid black;
      content: "&nbsp;";
    }

    td.apple {
      background-color: red;
      border: 1px solid black;
      content: "&nbsp;";
    }

    td.worm {
      background-color: orange;
      border: 1px solid black;
      content: "&nbsp;";
    }
  }
}
